/* --- INPUT ELEMENTS ------------------------------------------------------- */

#dform_container label,
#dform_container legend,
#dform_container .radiogroup label,
#dform_container .checkboxgroup label,
#dform_container .dform_widget_type_checkbox label {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-semibold);
  vertical-align: unset;
  background: transparent;
}

#dform_container .radiogroup label,
#dform_container .checkboxgroup label,
#dform_container .dform_widget_type_checkbox label {
  display: inline;
  margin-bottom: 0;
}

#dform_container fieldset.area > legend,
#dform_container fieldset.box > legend,
#dform_container fieldset.searchwidget > legend {
  margin: 0 0 3rem;
  padding: 0;
  font-size: var(--font-size-h2);
  line-height: var(--font-height-h2);
  font-family: var(--font-heaning);
  font-weight: var(--font-weight-semibold);
  background: transparent;
}

#dform_container .helptext {
  padding: 0;
  margin-bottom: 0.2rem;
  color: var(--color-grey-5);
  font-size: var(--font-size-p1);
  font-style: unset;
}

#dform_container .dform_fielderror {
  box-shadow: none;
  border: solid 0.2rem var(--color-error) !important;
  outline: none;
}

#dform_container .dform_validationMessage {
  padding: 0;
  font-size: var(--font-size-p1);
  color: var(--color-error);
}

#dform_container input,
#dform_container select,
#dform_container textarea {
  display: block;
  margin-bottom: 0;
  padding: 1.2rem 1.6rem !important;
  height: 5rem;
  width: min(100%, 44.5rem);
  font-size: var(--font-size-p1);
  font-family: inherit;
  background: var(--color-white);
  border: 0.1rem solid var(--color-grey-5);
  box-sizing: border-box;
}

#dform_container .small input {
  width: min(100%, 21rem);
}

#dform_container .large input,
#dform_container textarea {
  width: min(100%, 70rem);
}

#dform_container textarea {
  height: 17rem;
}

option {
  font-size: 2rem;
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-paragraph);
  display: block;
  min-height: 4rem;
  margin: 0.5rem;
  padding: 0.5rem;
  white-space: nowrap;
}

#dform_container fieldset {
  display: inline-block;
  min-width: unset;
  margin: 0;
}

#dform_container fieldset,
#dform_container div[data-type="child"] {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  clear: both;
}

#dform_container .radiogroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  width: min(100%, 44.5rem);
}

#dform_container .radiogroup .helptext,
#dform_container .radiogroup .dform_validationMessage {
  width: 100%;
}

#dform_container .vertical .radiogroup {
  flex-direction: column;
  gap: 1rem;
}

#dform_container .radiogroup br {
  display: none;
}

#dform_container .radiogroup span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  margin-right: 4rem;
  margin-bottom: 0.6rem;
  text-align: center;
}

#dform_container .radiogroup span label {
  text-align: left;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  transform: translateY(1.6rem);
}

#dform_container input[type="radio"] {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-grey-5);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  flex-shrink: 0;
}

#dform_container input[type="radio"]:checked {
  background-color: var(--color-white);
  border-color: var(--color-grey-5);
}

#dform_container input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  background-color: var(--color-grey-5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dform_container .checkboxgroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 0 2.5rem 0;
  width: min(100%, 44.5rem);
  gap: 1rem;
}

#dform_container .checkboxgroup br {
  display: none;
}

#dform_container input[type="checkbox"] {
  display: inline-block;
  margin: 0;
  width: 5rem;
  border-radius: 50%;
  transition: all 0.2s ease;
}

#dform_container .checkboxgroup > span,
#dform_container .dform_widget_type_checkbox > div {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;
}

#dform_container .checkboxgroup > span {
  align-items: start;
}

#dform_container .checkboxgroup > span > label {
  align-self: flex-start;
  text-align: left;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
  transform: translateY(1.6rem);
}

#dform_container .dform_widget_type_checkbox > div .dform_validationMessage {
  width: 100%;
}

#dform_container input[type="checkbox"]:checked::after {
  font-family: "icomoon";
  display: flex;
  content: "\e92f";
  color: var(--color-grey-5);
  background: var(--color-white);
  font-size: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--color-grey-5);
}

#dform_page_page_primary_input_fields
  > div
  > div
  > div
  > div.currency
  > div:nth-child(2) {
  display: grid;
  align-items: baseline;
  width: 100%;
}

#dform_page_page_primary_input_fields
  > div
  > div
  > div
  > div.currency
  > div:nth-child(2)::after {
  content: "£";
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding-left: 1.2rem;
  padding-block: 1.6rem;
  width: max-content;
  font-size: var(--font-size-p1);
}

#dform_container .currency-symbol {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 3;
  padding-left: 1.2rem;
  padding-block: 1.6rem;
  width: max-content;
  font-size: var(--font-size-p1);
}

#dform_container .currency input[type="number"] {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  padding-left: 2.4rem !important;
}

/* --- INPUT FOCUS ---------------------------------------------------------- */

#dform_container input:focus,
#dform_container textarea:focus,
#dform_container select:focus {
  box-shadow: none;
  border: 0.4rem solid var(--color-grey-5);
  outline: 0.4rem solid var(--color-warning);
}

#dform_container input[type="radio"]:focus {
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 0.4rem var(--color-grey-5),
    0 0 0 0.4rem var(--color-warning);
}

#dform_container input[type="checkbox"]:focus,
#dform_container input[type="checkbox"]:checked:focus::after {
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 0.4rem var(--color-grey-5),
    0 0 0 0.4rem var(--color-warning);
}

/* --- CHATACTER COUNT ---------------------------------------------------------- */

#dform_container .character-count {
  color: var(--color-primary);
  display: block;
  font-family: var(--font-paragraph);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  margin: 0.6rem 0 0.8rem 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

/* --- FILE UPLOAD -------------------------------------------------------------- */

#dform_container div[data-type="file"] > div:nth-child(2) {
  display: grid;
  grid-template-columns: 11.5rem minmax(11rem, 32rem);
  align-items: baseline;
}

#dform_container input[type="file"] {
  padding-inline: 1rem !important;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 0;
  background: var(--color-background);
  border: 0.4rem transparent var(--color-grey-5);
}

#dform_container input[type="file"]:focus,
#dform_container input[type="file"]:focus-within {
  background: var(--color-white);
  box-shadow: inset 0 0 0 0.4rem var(--color-grey-5),
    0 0 0 0.4rem var(--color-warning);
}

#dform_container .dform_filenames {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  max-width: 95%;
  z-index: 1;
  background: var(--color-background);
  overflow: hidden;
}

#dform_container .dform_filenames:focus,
#dform_container .dform_filenames:focus-within,
#dform_container input[type="file"]:focus ~ .dform_filenames,
#dform_container input[type="file"]:focus-within ~ .dform_filenames {
  background: var(--color-white);
}

#dform_container
  :has(.dform_filenames:focus, .dform_filenames:focus-within)
  input[type="file"] {
  background: var(--color-white);
  box-shadow: inset 0 0 0 0.4rem var(--color-grey-5),
    0 0 0 0.4rem var(--color-warning);
}

#dform_container .dform_filenames > span {
  display: inline-block;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.6rem;
  border: none;
}

#dform_container .dform_filenames > span a:hover {
  color: #000000;
}

#dform_container .file_delete {
  padding: 0.6rem;
  outline: 0.4rem solid transparent;
}

#dform_container .file_delete:focus {
  outline: 0.4rem solid #ffcc02;
}

#dform_container div[data-type="file"] > div:nth-child(2) br,
#dform_container .dform_fileupload_progressbar {
  display: none;
}

/* --- AHTM --------------------------------------------------------------------- */

.dform_widget_type_html {
  width: min(100%, 70rem);
}

.dform_widget_type_html:has(.message-panel),
.dform_widget_type_html:has(.notice-panel),
.dform_widget_type_html:has(.info-panel),
.dform_widget_type_html:has(.alert-panel),
.dform_widget_type_html:has(.alert-panel--ineligible)
  .dform_widget_type_html:has(.accordion) {
  width: min(100%, 44.5rem);
}
