/* --- DETAILS ACCORDION ---------------------------------------------------- */

#dform_container .details-accordion {
  max-width: 57.1rem;
  margin-block: .6rem;
}

#dform_container .details-accordion:focus-within {
  border: none;
}

#dform_container .details-accordion[open]:focus-within {
  background: var(--color-white);
}

#dform_container .details-accordion summary {
  padding-right: 1.6rem;
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  border-bottom: .4rem solid transparent;
}

#dform_container .details-accordion:hover summary {
  text-decoration: underline;
  cursor: pointer;
}

#dform_container .details-accordion summary:focus {
  border: none;
  background: var(--color-white);
  width: max-content;
  background: var(--color-warning);
  color: var(--color-black);
  border-bottom: .4rem solid var(--color-black);
  outline: none;
}

#dform_container .details-accordion-content {
  background: var(--color-white);
}

#dform_container .details-accordion-content p {
  border-left: solid .4rem var(--color-grey-5);
  padding-block: .6rem 1rem;
  padding-inline: 1.9rem 1.5rem;
  margin: 0;
}

#dform_container .details-accordion-content > * {
  border-left: solid .4rem var(--color-grey-5);
}
