#dform_container #dform_progressbar_sheffield {
  display: flex;
  height: 50px;
  padding: 15px;
  background: var(--color-background);
  border: none;
  width: clamp(0rem, 95vw, 155rem);
  margin: 1rem auto 0;
  transform: translateY(0.3rem);
  border-radius: 0;
}

#dform_container #dform_progressbar_sheffield span {
  content: "";
  height: 20px;
  background: var(--color-empty-pb);
}

#dform_container #dform_progressbar_sheffield div {
  padding-left: 4px;
  height: 20px;
  color: var(--color-white);
  background: var(--color-primary);
}