*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

::selection {
  background-color: #ffcc00;
  color: #000000;
}

@font-face {
  font-family: "Wayfarer";
  font-weight: 400;
  font-style: normal;
  src: url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.eot");
  src: url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.eot?#iefix")
      format("embedded-opentype"),
    local("Wayfarer Regular"), local("Wayfarer-Regular"),
    url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.woff2")
      format("woff2"),
    url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.woff")
      format("woff"),
    url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.ttf")
      format("truetype"),
    url("https://www.sheffield.gov.uk/verint-files/fonts/Wayfarer/Wayfarer-Regular/Wayfarer-Regular.svg#Wayfarer-Regular")
      format("svg");
}

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.eot);
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.woff2)
      format("woff2"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.woff)
      format("woff"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.ttf)
      format("truetype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-regular/Open-Sans-regular.svg#OpenSans)
      format("svg");
}

@font-face {
  font-family: "Open Sans Semibold";
  font-weight: 600;
  font-style: semibold;
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.eot);
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.eot?#iefix)
      format("embedded-opentype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.woff2)
      format("woff2"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.woff)
      format("woff"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.ttf)
      format("truetype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Open-Sans/Open-Sans-600/Open-Sans-600.svg#OpenSans)
      format("svg");
}

@font-face {
  font-family: "icomoon";
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Icomoon/icomoon.eot);
  src: url(https://www.sheffield.gov.uk/verint-files/fonts/Icomoon/icomoon.eot#iefix)
      format("embedded-opentype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Icomoon/icomoon.ttf)
      format("truetype"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Icomoon/icomoon.woff)
      format("woff"),
    url(https://www.sheffield.gov.uk/verint-files/fonts/Icomoon/icomoon.svg#icomoon)
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #ffffff;
  text-align: left;
  font-family: "Open Sans Regular", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  font-size: 100%;
  line-height: 1.4;
  color: black;
  width: 100%;
  margin: 0;
}

/*Start of header and footer CSS*/

[class*="scc_icon-"]:before,
[class*="scc_icon-"]:after {
  font-size: 1.5em;
  display: inline-block;
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.5em;
}

body {
  margin: 0;
}

header {
  display: block;
  background: #222222;
}

.scc_logo {
  width: 100px;
  padding: 0;
}

#top {
  padding: 20.3px 16px;
}

.scc_logo a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  background-color: #222222;
  color: white;
  padding-bottom: 2rem;
}

footer a {
  color: white;
}

.scc_wrap {
  padding: 0 16px;
  max-width: 1544px;
}

nav.scc_az-links {
  border: solid white;
  border-width: 2px 0;
  background: #007c53;
  text-align: center;
  margin: 0;
  padding: 0 1rem;
}

nav h2 {
  margin: 0;
  padding: 0.219rem 0;
}

footer.scc_footer nav.scc_az-links h2 a {
  text-decoration: none;
  line-height: 38px;
  font-size: 26px;
}

footer.scc_footer nav.scc_az-links ul {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  display: none;
}

footer.scc_footer {
  position: relative;
  z-index: 1;
  padding: 0 0 2rem;
  background-color: #222;
  background: linear-gradient(to bottom, #222 0, #1b1b1b 100%);
  color: white;
}

p.scc_skip .scc_button {
  display: inline-block;
  border-radius: 0;
  border: 1px solid #007c53;
  padding: 0.75rem 1.05rem !important;
  background: white;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: inherit;
  color: #007c53;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-appearance: none;
}

p.scc_skip .scc_hide-screen {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
}

p.scc_skip .scc_hide-screen .scc_focusable:active,
.scc_hide-screen .scc_focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  margin: 0;
  width: auto;
  height: auto;
}

p.scc_skip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  text-align: center;
}

p.scc_skip .scc_button {
  border-color: #c39;
  background: #c39;
  color: white;
}

#scc_footer-content ul {
  padding: 29.5px 0;
  margin: 0;
  border-bottom: 1px solid white;
  list-style: none;
  line-height: 1.42857143;
}

#scc_footer-content ul li {
  margin: 0.25em 0;
}

#scc_footer-content ul li a {
  text-decoration: none;
  font-size: 0.875em;
}

#scc_footer-content ul li a:hover {
  text-decoration: underline;
}

footer.scc_footer div.scc_row {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

footer.scc_footer div.scc_row div:last-child {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  text-align: center;
}

#social-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#social-links ul li {
  margin: 0;
}

#social-links ul li a span {
  display: none;
}

#social-links [class*="scc_icon-"]:before,
#social-links [class*="scc_icon-"]:after {
  padding: 8.75px 0;
}

.scc_icon-twitter:before,
.scc_icon-twitter-after:after {
  content: "\e931";
}

.scc_icon-facebook:before,
.scc_icon-facebook-after:after {
  content: "\e911";
}

.scc_icon-youtube:before,
.scc_icon-youtube-after:after {
  content: "\e936";
}

.scc_icon-instagram:before,
.scc_icon-instagram-after:after {
  content: "\e916";
}

.scc_icon-mail:before,
.scc_icon-mail-after:after {
  content: "\e919";
}

.scc_info {
  text-align: center;
}

.scc_info > p {
  font-size: 0.75rem;
  margin: 0 0 1.5rem 0;
}

.scc_info:after {
  display: block;
  margin: 2rem auto;
  width: 100px;
  height: 79px;
  background: url(https://www.sheffield.gov.uk/verint-files/logo.png) no-repeat
    50%;
  background-size: 100% auto;
  content: "";
}

#jump-to-top {
  position: fixed;
  bottom: 0;
  right: 16px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: #007c53;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.1;
}

#jump-to-top:before {
  display: block;
  content: "\e903";
  font-family: "icomoon";
  color: #ffffff;
  margin: -2px 0 3px 0;
  font-size: 15px;
}

.scc_logo a:focus,
.scc_logo a:focus-visible,
.scc_wrap > h2 > a:focus,
.scc_wrap > h2 > a:focus-visible,
.scc_h2 a:focus,
.scc_h2 a:focus-visible,
nav.scc_az-links:focus,
nav.scc_az-links:focus-visible,
.scc_row a:focus,
.scc_row a:focus-visible {
  outline: #ffcc00 solid 4px;
}

/*Overwrite media queries causing overlapping white container background */
#dform_container .container > .twelve {
  width: auto;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#dform_container {
  font-family: "Open Sans Regular", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  line-height: 1.4;
  font-size: 1rem;
}

#dform_container h1,
h1,
#dform_container h2,
h2,
#dform_container h3,
h3,
#dform_container h4,
h4 {
  color: #000000;
  font-weight: 400;
  font-family: "Wayfarer", "Helvetica", "Geneva", Sans-Serif;
  line-height: 1.6;
}

#dform_container h1,
h1 {
  font-size: 1.875rem;
}

#dform_container h2,
h2 {
  font-size: 1.5625rem;
}

#dform_container h3,
h3 {
  font-size: 1.5625rem;
}

#dform_container h4,
h4 {
  font-size: 1.375rem;
}

#form-title-outer {
  background: #eeeeee;
  border-top: 4px solid white;
}

#form-title-inner {
  max-width: 1544px;
  margin: auto;
}

#form-title {
  padding: 12px 16px;
  margin: 0;
}

#progress-bar-outer-box {
  /* offset margin caused by dform.form */
  margin: -2px 0 -20px 0;
  padding: 0 16px;
  background-color: #eeeeee;
  height: 50px;
}

#progress-bar-inner-box {
  background: #cccccc;
  width: auto;
  height: 20px;
  position: relative;
  top: 15px;
}

#progress-bar-dynamic-box {
  background-color: #007c53;
  height: 20px;
}

#dform_container #progress-bar-text {
  font-family: "Open Sans Semibold";
  font-weight: 600;
  font-size: 12px;
  padding-top: 2px;
  margin-left: 5px;
}

#dform_container {
  padding: 0;
}

form.dform {
  background: #eeeeee;
  padding: 30px 16px;
  margin: 30px 0 6px 0;
  display: grid;
}

.dform_widget {
  position: relative;
  margin: 30px 0;
}

#dform_container p,
#dform_container div,
#dform_container label,
#dform_container legend {
  color: #000000;
}

label,
#dform_container label,
legend,
#dform_container legend {
  color: #000000;
  display: block;
  font-family: "Open Sans Semibold";
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 8px 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  width: 100%;
  max-width: 445px;
}

#dform_container .simple-locator label,
#dform_container .simple-locator legend,
#dform_container .search-postcode label,
#dform_container .search-postcode legend,
#dform_container .search-address label,
#dform_container .search-address legend {
  width: 250%;
}

input,
#dform_container input,
select,
#dform_container select,
textarea,
#dform_container textarea {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 0;
  padding: 0.75rem 1rem;
  background: #ffffff;
  color: #000000;
  box-sizing: border-box;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font: 400 1em "Open Sans Regular", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  line-height: 1.4;
}

input,
#dform_container input,
select,
#dform_container select {
  height: 50px;
}

select,
#dform_container .retrieve-address select {
  height: 125px;
  width: 100%;
}

textarea,
#dform_container textarea {
  height: 171px;
}

select,
#dform_container select {
  appearance: revert;
  -moz-appearance: revert;
  -webkit-appearance: revert;
  color: #000000;
}

fieldset legend {
  font-family: "Open Sans Semibold", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  line-height: 1.4;
  display: block;
  margin: 0 0 8px 0;
}

.radiogroup,
#dform_container fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}

.radiogroup input,
#dform_container input[type="radio"] {
  border: 2px solid #6b6b6b;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #ffffff;
  padding: 0;
  margin: -2px 15px 12px 0;
}

fieldset.radiogroup br,
fieldset.checkboxgroup br {
  display: none;
}

.horizontal > div > fieldset > span {
  display: inline-flex;
  margin: 0 48px 0 0;
}

.vertical > div > fieldset > span,
fieldset.checkboxgroup > span {
  display: flex;
}

.horizontal > div > fieldset > span > input,
.vertical > div > fieldset > span > input {
  min-width: 42px;
}

#dform_container .radiogroup legend,
#dform_container .checkboxgroup legend {
  margin: 0 0 18px 0;
}

#dform_container .radiogroup label {
  font-family: "Open Sans Regular";
  margin: 8px 0 0 0;
}

.radiogroup input:focus,
#dform_container input[type="radio"]:focus {
  -moz-box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  -webkit-box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  outline: none;
}

.radiogroup input:checked::after,
#dform_container input[type="radio"]:checked::after {
  display: block;
  position: relative;
  background-color: #6b6b6b;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#dform_container input[type="radio"].dform_fielderror,
#dform_container input[type="radio"].dform_fielderrorCustom {
  border-color: #fd3333;
  outline: none;
}

#dform_container input[type="radio"].dform_fielderror:focus,
#dform_container input[type="radio"].dform_fielderrorCustom:focus {
  -moz-box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  -webkit-box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  box-shadow: inset 0 0 0 2px #6b6b6b, 0 0 0 4px #ffcc02;
  outline: none;
}

.radiogroup label {
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
}

.dform_widget_type_checkbox > div,
#dform_container .container .dform_widget_type_checkbox > div {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
}

#dform_container input[type="checkbox"],
.dform_widget_type_checkbox input {
  display: inline-block;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  margin-bottom: 0;
  background: white;
  padding: 8px;
}

#dform_container input[type="checkbox"]:checked::after,
.dform_widget_type_checkbox input:checked::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  left: -9px;
  width: 24px;
  height: 24px;
  background: #007c53;
}

.dform_widget_type_checkbox label,
#dform_container .dform_widget_type_checkbox label {
  display: inline-block;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: auto;
}

#dform_container .checkboxgroup label {
  font-family: "Open Sans Regular";
  margin: 7px 0 0 13px;
}

.checkboxgroup input,
#dform_container input[type="checkbox"] {
  margin: 0 11px 10px 0;
  min-width: 40px;
}

#dform_container input[type="checkbox"]:checked::after,
.dform_widget_type_checkbox input:checked::after {
  font-family: "icomoon";
  content: "\e92f";
  color: #6b6b6b;
  background: none;
  font-size: 22px;
  position: relative;
  /*overwrite hosted CSS*/
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#dform_container .radiogroup > .dform_validationMessage,
#dform_container .checkboxgroup > .dform_validationMessage {
  margin: 0 0 4px 0;
}

#dform_container input[type="checkbox"].dform_fielderror,
#dform_container input[type="checkbox"].dform_fielderrorCustom {
  border: 1px solid #fd3333;
  box-shadow: inset 0 0 0 1px #fd3333;
  outline: none;
}

/*Removes blank outline around checkboxes when focus-visible*/
input:focus-visible {
  outline-offset: 0px;
}

#dform_container input[type="date"] {
  text-transform: uppercase;
}

#dform_container input:focus,
#dform_container textarea:focus,
#dform_container select:focus {
  z-index: 1;
  outline: 4px solid #ffcc02;
  -moz-box-shadow: inset 0 0 0 3px #6b6b6b;
  -webkit-box-shadow: inset 0 0 0 3px #6b6b6b;
  box-shadow: inset 0 0 0 3px #6b6b6b;
  border-color: #6b6b6b;
}

#dform_container .helptext {
  font-family: "Open Sans Regular";
  color: #6b6b6b;
  font-style: normal;
  margin: -8px 0 8px 0;
}

#dform_container .dform_fielderror,
#dform_container .dform_fielderrorCustom {
  z-index: 1;
  border: 2px solid #db0000;
  box-shadow: none;
}

#dform_container .dform_validationMessage,
#dform_container #address-lookup-error,
#dform_container #address-lookup-error-you,
#dform_container #address-lookup-error-another,
#dform_container #current-location-error,
#dform_container #address-lookup-error-location,
#dform_container #address-lookup-error-location-highways {
  width: 100%;
  font-family: "Open Sans Semibold";
  color: #db0000;
  line-height: 1.4;
  margin: 10px 0 4px 0;
  padding: 0;
}

#dform_container input.dform_fielderror:focus,
#dform_container textarea.dform_fielderror:focus,
#dform_container .dform_fielderror:focus,
#dform_container input.dform_fielderrorCustom:focus,
#dform_container textarea.dform_fielderrorCustom:focus,
#dform_container .dform_fielderrorCustom:focus,
#jump-to-top:focus {
  outline: 4px solid #ffcc02;
  z-index: 1;
  -moz-box-shadow: inset 0 0 0 3px #6b6b6b;
  -webkit-box-shadow: inset 0 0 0 3px #6b6b6b;
  box-shadow: inset 0 0 0 3px #6b6b6b;
  border-color: #6b6b6b;
}

input::placeholder,
textarea::placeholder {
  color: #6b6b6b;
}

.dform_widget:first-child,
#dform_container
  .container
  .dform_widget:first-child
  .dform_widget_type_buttonset {
  margin-top: 0;
}

#dform_container .container .dform_widget_type_buttonset {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin: 50px 0 0 0;
}

#dform_container .container .dform_widget_type_buttonset button:last-child {
  margin-bottom: 0;
}

.dform_widget button,
.dform_container button,
#dform_container .button,
#dform_container input[type="submit"],
#dform_container button,
#dform_container button[data-type="next"].secondary-cta,
#dform_container button[data-action="kdf-save-web"].secondary-cta,
#dform_container button.secondary-cta,
#dform_container button.secondary-cta-mandatory,
#dform_container button.secondary-cta-location-search--highways {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 1.25rem;
  border-radius: 0;
  border: 1px solid #007c53;
  padding: 0.75rem 1.05rem;
  background: white;
  text-align: center;
  font-family: "Open Sans Semibold", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  font-size: 1rem;
  line-height: inherit;
  color: #007c53;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  transition: none;
}

#dform_container button[data-type="next"][aria-disabled="false"]:hover,
#dform_container .web-black:hover,
#dform_container
  button[data-action="kdf-save-web"][aria-disabled="false"]:hover,
.dform_widget button:hover,
.dform_container button:hover,
#dform_container .button:hover,
#dform_container input[type="submit"][aria-disabled="false"]:hover,
#dform_container button[aria-disabled="false"]:hover,
#dform_container button[data-type="next"].secondary-cta:hover,
#dform_container button[data-action="kdf-save-web"].secondary-cta:hover,
#dform_container button.secondary-cta:hover,
#dform_container button.secondary-cta-mandatory:hover,
#dform_container button.secondary-cta--highways:hover,
#dform_container button.secondary-cta-location-search--highways:hover,
#dform_container button.review-page-edit-button:hover {
  background: #007c53;
  color: white;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

#dform_container button[data-type="next"]:focus,
#dform_container .web-black:focus,
#dform_container button[data-action="kdf-save-web"]:focus,
#dform_container .address-search-page-button--next:focus,
#dform_container .address-search-page-button--next-another:focus,
#dform_container .address-search-page-button--submit:focus,
#dform_container .address-search-page-button--submit-another:focus,
#dform_container .location-search-page-button--highways:focus,
#dform_container .location-search-page-button--map:focus,
#dform_container .property-search-page-button:focus,
#dform_container .address-search-page-button--submit-custom:focus,
#dform_container .address-search-page-button--submit-highways:focus,
#dform_container .address-search-page-button--submit-no-address:focus,
#dform_container .address-search-page-button--submit-custom-no-address:focus,
#dform_container .address-search-page-button--submit-another-custom:focus,
#dform_container .address-search-page-button--submit-another-no-address:focus,
#dform_container
  .address-search-page-button--submit-another-custom-no-address:focus {
  outline: 4px solid #ffcc02;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.dform_widget button:focus,
.dform_container button:focus,
#dform_container .button:focus,
#dform_container input[type="submit"]:focus,
#dform_container button:focus {
  outline: 4px solid #ffcc02;
  background: white;
  color: #007c53;
  border: 1px solid #007c53;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.dform_widget button:active,
.dform_container button:active,
#dform_container .button:active,
#dform_container input[type="submit"]:active,
#dform_container button:active {
  top: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#dform_container button[data-type="next"],
#dform_container .web-black,
#dform_container button[data-action="kdf-save-web"],
#dform_container .address-search-page-button--next,
#dform_container .address-search-page-button--next-another,
#dform_container .address-search-page-button--submit,
#dform_container .address-search-page-button--submit-another,
#dform_container .location-search-page-button--highways,
#dform_container .location-search-page-button--map,
#dform_container .property-search-page-button,
#dform_container .address-search-page-button--submit-custom,
#dform_container .address-search-page-button--submit-highways,
#dform_container .address-search-page-button--submit-no-address,
#dform_container .address-search-page-button--submit-custom-no-address,
#dform_container .address-search-page-button--submit-another-custom,
#dform_container .address-search-page-button--submit-another-no-address,
#dform_container .address-search-page-button--submit-another-custom-no-address {
  border-color: transparent;
  background: #222;
  color: white;
}

#dform_container button[aria-disabled="true"],
.dform_widget button[aria-disabled="true"] {
  border: 0;
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

#dform_container
  button[data-action="kdf-save-web"].secondary-cta[aria-disabled="true"],
#dform_container button.secondary-cta[aria-disabled="true"],
#dform_container button.secondary-cta-mandatory[aria-disabled="true"],
#dform_container
  button.secondary-cta-location-search--highways[aria-disabled="true"] {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #ccc;
  cursor: not-allowed;
}

#dform_container button[aria-disabled="true"]:active {
  pointer-events: none;
}

/*#dform_container button[aria-disabled="true"]:hover,*/
/*#dform_container button[aria-disabled="true"]:hover {*/
/*    border: 0;*/
/*    background-color: #ccc;*/
/*    color: #fff;*/
/*}*/

#dform_container .back-link {
  font-family: "Open Sans Regular", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
  display: inline-block;
  background: #eee;
  color: #000000;
  width: 37px;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 15px;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #000000;
  overflow: visible;
  border-bottom: 1px solid #000000;
  padding-bottom: 1px;
}

#dform_container .back-button-left-span {
  position: absolute;
  width: 15px;
  margin: 0 0px 0 -15px;
}

#dform_container .back-link:hover {
  background: #eee;
  color: #000000;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0em -2px #000000;
  -moz-box-shadow: inset 0em -2px #000000;
  -webkit-box-shadow: inset 0em -2px #000000;
}

#dform_container .back-link:focus {
  outline: none;
  color: #000000;
  background: #ffcc00;
  border: none;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0em -2px #000000;
  -moz-box-shadow: inset 0em -2px #000000;
  -webkit-box-shadow: inset 0em -2px #000000;
}

#dform_container .back-link:focus .back-button-left-span {
  background: #ffcc00;
  width: 15px;
  height: 100%;
  box-sizing: initial;
  border-bottom: 1px solid #000000;
  box-shadow: inset 0em -2px #000000;
  -moz-box-shadow: inset 0em -2px #000000;
  -webkit-box-shadow: inset 0em -2px #000000;
}

#dform_container a,
#dform_container button.dform_widget_but_enter_address_manually,
#dform_container button.dform_widget_but_enter_property_manually,
#dform_container button.manual-address {
  font-family: "Open Sans Semibold";
  font-weight: 600;
  color: #007c53;
  text-decoration: none;
}

#dform_container a:hover,
#dform_container a:focus,
#dform_container button.dform_widget_but_enter_address_manually:hover,
#dform_container button.dform_widget_but_enter_property_manually:hover,
#dform_container button.manual-address:hover,
#dform_container button.dform_widget_but_enter_address_manually:focus,
#dform_container button.dform_widget_but_enter_property_manually:focus,
#dform_container button.manual-address:focus {
  color: #007c53;
  text-decoration: underline;
  outline: none;
}

#dform_container .container .postcodeInput {
  display: flex;
  /*max-width: 566px;*/
}

#dform_container .container .postcodeInput .inputClass {
  margin-bottom: 0;
}

#dform_container .dform_widget_ahtm_locationfields {
  width: 100%;
  margin-bottom: 19px;
}

#dform_container .address-not-found {
  margin-top: 20;
}

/* Start: Address Search */
#dform_container .container .box-address-locator > div,
#dform_container .container .box-address-locator {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#dform_container .container .box-address-locator {
  margin: 30px 0;
}

@media (min-width: 51.875rem) {
  #dform_container .container .box-address-locator > div {
    flex-wrap: nowrap;
  }
}

/* Start: Input field */
#dform_container .box-address-locator .search-postcode label,
#dform_container .box-address-locator .search-postcode legend,
#dform_container .box-address-locator .search-address label,
#dform_container .box-address-locator .search-address legend {
  width: 180%;
}

#dform_container
  .container
  .dform_section_box_postcode_lookup
  > .dform_widget_bset_find_address,
#dform_container .container .box-address-locator {
  display: flex;
  flex-wrap: wrap;
}

#dform_container .container .box-address-locator .search-postcode,
#dform_container .container .box-address-locator .search-address {
  order: 0;
  margin: auto 0 0 0;
  flex: 1;
  float: left;
}
#dform_container .box-address-locator .search-postcode .helptext,
#dform_container .box-address-locator .search-address .helptext {
  width: 200%;
}

#dform_container .box-address-locator .search-postcode input,
#dform_container .box-address-locator .search-address input {
  margin: 0;
  border-right: 1px solid #007c53;
}

#dform_container .box-address-locator .search-postcode input:focus,
#dform_container .box-address-locator .search-address input:focus {
  margin: 0;
  border-right: 2px solid #6b6b6b;
}

#dform_container .search-postcode .dform_validationMessage,
#dform_container .search-address .dform_validationMessage {
  width: 180%;
  max-width: 445px;
}

#dform_container
  .box-address-locator
  .search-postcode
  input
  .dform_fielderrorCustom,
#dform_container
  .box-address-locator
  .search-address
  input
  .dform_fielderrorCustom {
  border-right: 2px solid #db0000;
  z-index: 1;
  position: relative;
}

#dform_container .box-address-locator .search-postcode input.dform_fielderror,
#dform_container .box-address-locator .search-address input.dform_fielderror {
  border-right: 2px solid #db0000;
}

#dform_container
  .box-address-locator
  .search-postcode
  input.dform_fielderror:focus,
#dform_container
  .box-address-locator
  .search-address
  input.dform_fielderror:focus {
  border-right: 2px solid #6b6b6b;
}

#dform_container
  .box-address-locator
  .search-postcode
  input
  .dform_fielderror:focuscustom,
#dform_container
  .box-address-locator
  .search-address
  input
  .dform_fielderror:focuscustom {
  border-right: 2px solid #db0000;
}

#dform_container .box-address-locator .search-postcode input:focus,
#dform_container .box-address-locator .search-address input:focus {
  z-index: 1;
  position: relative;
}

#dform_container .container .box-address-locator .search-postcode {
  width: 100%;
}

@media (min-width: 44rem) {
  #dform_container .container .box-address-locator .search-postcode {
    width: 100%;
    max-width: 210px;
  }
}

#dform_container .container .box-address-locator .search-address {
  width: 100%;
  max-width: 566px;
}

@media (min-width: 44rem) {
  #dform_container .container .box-address-locator .search-address {
    width: 100%;
    max-width: 566px;
  }
}
/* Finish: Input field */

/* Start: Find address */
#dform_container .box-address-locator .bset-find-address button:focus {
  z-index: 1;
  position: relative;
}

#dform_container
  .container
  .dform_section_box_postcode_lookup
  > .dform_widget_bset_find_address,
#dform_container .container .box-address-locator .bset-find-address {
  order: 1;
  padding-top: 30.5px;
  margin: auto 0 0 0;
  flex-basis: 100%;
  float: left;
  max-width: 134px;
  width: 100%;
  white-space: nowrap;
}

#dform_container .box-address-locator .bset-find-address button {
  margin: auto 0 0 0;
  padding: 0 1.05rem;
  border-left: 1px solid #ffffff;
}

#dform_container .box-address-locator .bset-find-address,
#dform_container .box-address-locator .postcodeInput .bset-find-address,
#dform_container .box-address-locator .bset-find-address button,
#dform_container .box-address-locator .postcodeInput .bset-find-address {
  margin: 0;
}

#dform_container .box-address-locator .bset-find-address button:hover {
  border: 1px solid #007c53;
  color: #ffffff;
  background-color: #007c53;
}

#dform_container .box-address-locator .bset-find-address button:focus {
  border-left: 1px solid #007c53;
}

/* Finish: Find address */

/* Start: Select address */
#dform_container .container.address-selector select,
#dform_container .container.address-selector.dform_widget_type_select {
  position: relative;
  min-height: 44px;
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 700px;
}

#dform_container .container.address-selector option {
  position: reletive;
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 44px;
}

#dform_container .container.address-selector option:not(:last-child) {
  border-bottom: 1px solid #aaaaaa;
}

#dform_container .container.address-selector select option:focus,
#dform_container .container.address-selector select option:hover,
#dform_container .container.address-selector select option:checked {
  background-color: #007c53;
  color: #ffffff;
  cursor: pointer;
}
/* Finish: Select address */

/* Start: Enter address manually*/
#dform_container .container .box-address-locator .bset-manual-address {
  order: 2;
  padding-top: 0px;
  width: 200px;
  margin: auto 0 0 0;
  flex-basis: 100%;
}

@media (min-width: 44rem) {
  #dform_container .container .box-address-locator .bset-manual-address {
    flex-basis: auto;
    padding-top: 30.5px;
  }
}

#dform_container .box-address-locator .bset-manual-address button {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
  background: 0;
}

@media (min-width: 44rem) {
  #dform_container .box-address-locator .bset-manual-address button {
    text-align: center;
  }
}

#dform_container .box-address-locator .bset-manual-address button:hover {
  color: #007c53;
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* Finish: Enter address manually */

/* Start: Retrieve address */
/* #dform_container .container .address-list-label {
  margin-bottom: 0px;
}

#dform_container .container .dform_widget_type_table {
  overflow-y: scroll;
  margin-top: 0;
  margin-bottom: 0;
  height: 195px;
  max-width: 700px;
}

#dform_container .container .dform_table {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 200px;
  text-indent: initial;
}

#dform_container .container .dform_table .dform_td {
  display: table-cell;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #aaaaaa;
  border-left: 2px solid #fff;
}

#dform_container .container .dform_table .dform_tr {
  background: white;
}

#dform_container .container .dform_tr:hover .dform_td {
  background-color: #007c53;
  color: white;
} */
/* Finish: Retrieve address */

/* Start: Address selected */
#dform_container .container .address-selected {
  border-top: 1px solid #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
  padding: 9px 8px;
  max-width: 700px;
  display: flex;
  align-items: left;
}

#dform_container .container .address-selected svg {
  fill: black;
}

#dform_container .container .address-selected p {
  margin: 0;
  padding-top: 15px;
  padding-left: 19px;
}

#dform_container .container .address-selected .address-selected-span {
  font-family: "Open Sans Semibold", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
}
/* Finish: Address selected */
/* Finish: Address Search */

/*Privacy policy accordion*/
#privacy-notice {
  margin: 50px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#dform_container .privacy-accordion {
  font-family: "Wayfarer", "Helvetica", "Geneva", Sans-Serif;
  font-size: 25px;
  font-weight: 400;
  max-width: 100%;
  height: auto;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 13px 16px;
  border: solid black;
  border-width: 1px 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

#dform_container .privacy-accordion:after {
  content: "\e909";
  font-family: "icomoon";
  float: right;
  background-color: #007c53;
  color: #fff;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.35;
  text-align: center;
  flex: 0 0 auto;
  margin: auto 0 auto 10px;
}

#dform_container .privacy-accordion:hover {
  background-color: #f6f6f6;
  color: #000000;
  border-color: #6b6b6b;
  border-width: 1px 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#dform_container .privacy-accordion:focus {
  color: #000000;
  border-width: 1px 0;
}

#dform_container .privacy-accordion:hover:after {
  background-color: #ffffff;
  color: #007c53;
}

#dform_container .privacy-accordion .active {
  color: #000000;
  border-width: 1px 0;
  /* make sure focus state outline appears on top of expanded panel */
  z-index: 1;
}

#dform_container .privacy-accordion .active:after {
  content: "\e90c";
  font-family: "icomoon";
  float: right;
  background-color: #007c53;
  color: #ffffff;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.35;
  text-align: center;
}

#dform_container .privacy-accordion .active:hover:after {
  background-color: #fff;
  color: #007c53;
}

#dform_container .privacy-panel {
  font-family: "Open Sans Regular";
  display: none;
  color: black;
  background: white;
  width: 100%;
  padding: 0 1rem;
  font-weight: 400 !important;
}

#dform_container .privacy-panel p {
  margin: 0 0 1em 0;
}

p.privacy-notice {
  font-family: "Open Sans Regular";
}

#dform_container .alert-panel,
#dform_container .alert-panel--ineligible,
#dform_container .info-panel {
  background: #f6f6f6;
  max-width: 445px;
  padding: 24px 21px 24px 49px;
}

#dform_container .alert-panel,
#dform_container .alert-panel--ineligible {
  border-left: 2px solid #db0000;
}

#dform_container .info-panel {
  border-left: 2px solid #ffcc00;
}

#dform_container .notice-panel {
  background: #f6f6f6;
  max-width: 445px;
  padding: 24px 21px 24px 22px;
}

#dform_container .alert-panel:before,
#dform_container .alert-panel--ineligible:before,
#dform_container .info-panel:before {
  font-family: "icomoon";
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 26px;
  text-align: center;
  color: white;
  position: absolute;
  left: 2px;
  top: 17px;
}

#dform_container .alert-panel:before,
#dform_container .alert-panel--ineligible:before {
  content: "\e934";
  background: #db0000;
}

#dform_container .info-panel:before {
  content: "\e915";
  background: #ffcc00;
  color: #000000;
  border-radius: 0 50% 50% 0;
}

#dform_container .alert-panel h3,
#dform_container .alert-panel--ineligible h3,
#dform_container .info-panel h3,
#dform_container .notice-panel h3 {
  margin: 0 0 12px 0;
  line-height: 22px;
}

#dform_container .alert-panel p,
#dform_container .alert-panel--ineligible p,
#dform_container .info-panel p,
#dform_container .notice-panel p {
  margin: 0;
}

@media (min-width: 423px) {
  #dform_container .privacy-accordion {
    padding: 24px 16px;
    line-height: 30px;
    height: unset;
  }
}

@media (min-width: 44rem) {
  .scc_logo {
    width: 140px;
    padding: 0;
  }

  #top {
    padding: 24px 16px;
    margin: 0 auto;
  }

  .scc_wrap {
    margin: 0 auto;
    max-width: 1576px;
  }

  .scc_logo a {
    height: 110px;
  }

  .scc_logo img {
    width: 140px;
    height: 110px;
    max-width: none;
    margin: 0;
  }

  footer.scc_footer nav.scc_az-links h2 a {
    font-size: 1.875rem;
  }

  nav.scc_az-links {
    margin: 0 auto 2rem;
  }

  [class*="scc_icon-"]:before,
  [class*="scc_icon-"]:after {
    font-size: 1rem;
    padding: 0;
  }

  footer.scc_footer div.scc_row {
    margin-bottom: 4rem;
  }

  #scc_footer-content ul {
    padding: 0;
    margin: 0 0 1.5rem 0;
    border-bottom: none;
  }

  #scc_footer-content ul li {
    margin: 0 0 0.5em 0;
  }

  #scc_footer-content ul li a,
  #scc_footer-content ul li a span {
    font-size: 0.875rem;
  }

  #social-links [class*="scc_icon-"]:before,
  #social-links [class*="scc_icon-"]:after {
    padding: 0;
  }

  footer.scc_footer div.scc_row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .scc_footer .scc_wrap .scc_row .scc_col {
    width: 33.333%;
    padding: 8px 0;
  }

  footer.scc_footer div.scc_row div:last-child {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    text-align: right;
  }

  #social-links ul {
    display: block;
  }

  #social-links ul li a {
    display: inline-flex;
    justify-content: end;
    align-items: center;
  }

  #social-links ul li a:after {
    margin-left: 0.5em;
  }

  #social-links ul li a span {
    display: inline;
    font-size: 0.875rem;
  }

  .scc_info {
    display: flex;
  }

  .scc_info > p {
    font-size: 0.875rem;
  }

  .scc_info .scc_copyright {
    margin-left: auto;
  }

  div.scc_info:after {
    display: none;
  }

  #jump-to-top {
    display: none;
  }

  #dform_container h1,
  h1 {
    font-size: 3.125rem;
  }

  #dform_container h2,
  h2 {
    font-size: 1.875rem;
  }

  #form-title-inner {
    max-width: 1576px;
    padding: 0 16px;
  }

  #form-title {
    padding: 29px 0 10px 0;
    margin: 0;
  }

  #progress-bar-outer-box {
    /* offset margin caused by dform.form */
    margin: 0 0 -38px 0;
  }

  #dform_holder {
    max-width: 1576px;
    margin: auto;
    padding: 0 16px;
  }

  form.dform {
    width: 100%;
    background: #eeeeee;
    padding: 50px 0;
    margin: 50px 0 26px 0;
  }

  #dform_container .container > .twelve,
  .box,
  .dform_page > div > div {
    padding: 0 100px;
    max-width: 1544px;
  }

  .dform_widget_field {
    max-width: 700px;
  }

  #dform_container .container .dform_widget_type_text,
  #dform_container .container .dform_widget_type_select,
  #dform_container .container .dform_widget_type_radio,
  #dform_container .container .dform_widget_type_tel,
  #dform_container .container .dform_widget_type_email,
  #dform_container .container .dform_widget_type_password,
  #dform_container .container .dform_widget_type_file,
  #dform_container .container .dform_widget_type_buttonset,
  #dform_container .container .dform_widget_type_number,
  #dform_container .container .dform_widget_type_date,
  #dform_container .container .dform_widget_type_time,
  .notice-panel {
    width: 445px;
  }

  #dform_container .input-box-small > div > select {
    width: 210px;
  }

  .alert-panel-top {
    left: -7.5%;
    top: -5rem;
  }

  #privacy-notice {
    max-width: 445px;
    margin: 62px 0;
  }

  #dform_container .container .dform_widget_type_buttonset {
    margin: 62px 0 0 0;
  }
}

@media (min-width: 89rem) {
  footer.scc_footer nav.scc_az-links h2 {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  footer.scc_footer nav.scc_az-links ul {
    font-family: "Wayfarer", "Helvetica", "Geneva", Sans-Serif;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
  }

  footer.scc_footer nav.scc_az-links ul li {
    display: inline-block;
    margin: 0;
    position: relative;
    width: auto;
    line-height: 1.25;
  }

  footer.scc_footer nav.scc_az-links h2 a,
  footer.scc_footer nav.scc_az-links ul li a {
    display: block;
    padding: 0.5rem 0;
    min-width: 2.7rem;
    font-weight: 400;
    color: white;
    text-decoration: none !important;
    font-size: 30px;
    letter-spacing: 0.67px;
  }

  footer.scc_footer nav.scc_az-links ul li:hover,
  footer.scc_footer nav.scc_az-links ul li:focus,
  footer.scc_footer nav.scc_az-links ul li a:focus-visible,
  footer.scc_footer nav.scc_az-links h2:hover,
  footer.scc_footer nav.scc_az-links h2:focus,
  footer.scc_footer nav.scc_az-links h2 a:focus-visible {
    background: rgba(255, 255, 255, 0.2);
  }

  footer.scc_footer nav.scc_az-links ul li:hover,
  footer.scc_footer nav.scc_az-links h2:hover {
    outline: none;
  }

  footer.scc_footer nav.scc_az-links ul li a span {
    display: none;
  }
}

#dform_container .review-page-edit-button {
  width: 81px;
  float: right;
}

@media (min-width: 44rem) {
  #dform_container .review-page-edit-button {
    width: 135px;
  }
}

#review-page-content-container {
  border-top: 1px solid #707070;
}

@media (min-width: 44rem) {
  #review-page-content-container {
    max-width: 700px;
  }
}

.review-page-content-section {
  padding: 21px 0;
  border-bottom: 1px solid #707070;
}

.review-page-item {
  margin: 1px 0;
}

.review-page-question-text {
  font-family: "Open Sans Semibold";
  font-weight: 600;
}

@media (min-width: 1475px) {
  footer.scc_footer nav.scc_az-links h2 {
    display: inline-flex;
    margin-right: 16px;
  }

  footer.scc_footer nav.scc_az-links ul {
    display: inline-flex;
  }

  .scc_logo a:focus,
  .scc_logo a:focus-visible,
  .scc_wrap > h2 > a:focus,
  .scc_wrap > h2 > a:focus-visible,
  .scc_h2 a:focus,
  .scc_h2 a:focus-visible,
  nav.scc_az-links:focus,
  nav.scc_az-links:focus-visible,
  .scc_row a:focus,
  .scc_row a:focus-visible {
    outline: #ffcc00 solid 4px;
  }
}

#dform_container .dform_widget_ahtm_or_seperator {
  margin-top: 19px;
  margin-bottom: 19px;
}

#dform_container .dform_widget_ahtm_or_seperator h5 {
  font-size: 1rem;
  margin-top: 19px;
  margin-bottom: 19px;
}

#dform_container .container .dform_widget_ahtm_use_current_location {
  margin-bottom: 14px;
  margin-top: 19px;
}

#dform_container .container .dform_widget_ahtm_find_on_map {
  margin-top: 14px;
  margin-bottom: 19px;
}

#dform_container
  .container
  .dform_widget_ahtm_use_current_location
  .dform_widget_type_buttonset,
#dform_container
  .container
  .dform_widget_ahtm_find_on_map
  .dform_widget_type_buttonset {
  margin-top: 0;
}

@media (min-width: 44rem) {
  #dform_container
    .container
    .dform_widget_ahtm_use_current_location
    .dform_widget_type_buttonset,
  #dform_container
    .container
    .dform_widget_ahtm_find_on_map
    .dform_widget_type_buttonset {
    margin-top: 0;
  }
}

#dform_container .container .yourLocation {
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background: inherit;
  display: flex;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#dform_container #dform_widget_gis_map.dform_fielderror {
  border: 2px solid #db0000;
  box-shadow: inset 0 0 0 1px #db0000;
  outline: none;
}

#dform_container .container .mapLocation {
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background: inherit;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
  box-shadow: none;
  -webkit-box-shadow: none;
}

#dform_container .container .yourLocation:hover .button__icon:before {
  border-color: #007c53;
  background: white;
  color: #007c53;
}

#dform_container .container .mapLocation:hover .button__mapicon:before {
  border-color: #007c53;
  background: white;
  color: #007c53;
}

#dform_container .container .yourLocation:hover .button__tester {
  text-decoration: underline;
}

#dform_container .container .mapLocation:hover .button__tester {
  text-decoration: underline;
}

#dform_container
  button.mapLocation[aria-disabled="true"]
  .button__mapicon:before,
#dform_container
  button.mapLocation[aria-disabled="true"]:hover
  .button__mapicon:before {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #ccc;
  cursor: not-allowed;
}

#dform_container button.mapLocation[aria-disabled="true"] .button__text,
#dform_container button.mapLocation[aria-disabled="true"]:hover .button__text {
  color: #ccc;
  cursor: not-allowed;
}

#dform_container #dform_widget_button_but_use_current_location,
#dform_container #dform_widget_html_ahtm_current_location_error,
#dform_container #current-location-error,
#dform_container #dform_widget_buttonset_bset_use_map_location,
#dform_container #dform_widget_html_ahtm_map_unavailable_error,
#dform_container #map-unavailable-error {
  margin-top: 0;
  margin-bottom: 0;
}

#dform_container .container .button__text {
  color: #007c53;
  text-align: left;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

#dform_container .container .button__device {
  color: black;
  font-family: "Open Sans Regular", "Trebuchet MS", "Lucida Grande";
}

#dform_container .container .button__icon:before {
  content: "\e918";
  display: block;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid transparent;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 2.4;
  background: #007c53;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  font-family: "icomoon" !important;
  speak: none;
}

#dform_container .container .button__mapicon:before {
  content: "\e921";
  display: block;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid transparent;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 2.4;
  background: #007c53;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  font-family: "icomoon" !important;
  speak: none;
}

#dform_container .currency_icon:before {
  content: "Ãƒâ€šÃ‚Â£";
}

#dform_container .input-icon {
  position: relative;
}

#dform_container .currency-wrapper {
  position: relative;
}

#dform_container .currency-icon {
  position: absolute;
  bottom: 14px;
  width: 0;
  text-align: center;
  padding-right: 0;
  padding-left: 15px;
  height: 22px;
  vertical-align: middle;
  font-family: "Open Sans Semibold", "Trebuchet MS", "Lucida Grande", "Geneva",
    Sans-Serif;
}

#dform_container .currency-input {
  padding: 12px 16px 12px 34px;
  margin-bottom: 8px;
}

@media print {
  footer {
    page-break-after: always;
  }
}

#dform_container .character-count {
  color: #007c53;
  display: block;
  font-family: "Open Sans Semibold";
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 8px 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.dform_widget_ahtm_fulladdress {
  max-width: 700px;
}

/* --- DATE OF BIRTH --- */

#dform_container .container-date {
  position: reletive;
  width: 100%;
}

#dform_container .date-field {
  position: reletive;
  max-width: 277px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

#dform_container .date-field .helptext,
#dform_container .date-field .dform_validationMessage {
  position: reletive;
  display: block;
  width: 100%;
}

@media (min-width: 21.5rem) {
  #dform_container .date-field .helptext,
  #dform_container .date-field .dform_validationMessage {
    width: 120%;
  }
}

@media (min-width: 24.7rem) {
  #dform_container .date-field .helptext,
  #dform_container .date-field .dform_validationMessage {
    width: 200%;
  }
}

#dform_container .date-input-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date-input-fields div:not(:last-child) {
  margin-right: auto;
}

#dform_container .date-dd,
#dform_container .date-mm,
#dform_container .date-yy {
  position: reletive;
  width: 65px;
  font-size: inherit;
  text-align: center;
}

#dform_container .date-yy {
  width: 107px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}